.wrap {
	height: auto;
	min-height: 100%;
	border: 10px solid #64D5D9;
	background-color: #F3FFFF;
	width: 800px;
	max-width: 100%;
	visibility: hidden;
	margin: 0 auto;
	position: relative
}

.wrap.pink {
	border: 10px solid #ff86c7;
	background-color: #ffe5f2;
}

.inner {
	padding: 60px 20px;

}


#qna,
#result {
	display: none;
}

.outter {
	position: relative;
	width: 100%;
	height: 100%;
}

.al-cnt {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: auto;
	width: 100%;
}

.intro-wrap .visual {
	max-width: 100%;
	margin-bottom: 40px;
}

.intro-wrap .visual,
.result-wrap .img {
	height: 200px;
	width: 100%;
}

.intro-wrap .visual iframe,
.result-wrap .img iframe {
	pointer-events: none;
	height: 100%;
	display: block;
	margin: 0 auto;
}

.intro-wrap .visual img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.intro-wrap h2 {
	font-weight: normal;
	font-size: 26px;
	text-align: center;
	line-height: 1.2;
}

.intro-wrap h2 b {
	font-weight: bold;
}

.intro-wrap p {
	margin-top: 30px;
	font-size: 17px;
	font-weight: 300;
	text-align: center;
	line-height: 1.4;
}

.intro-wrap p b {
	font-weight: 500;
}

.intro-wrap span {
	font-size: 15px;
	font-weight: normal;
	display: block;
	text-align: center;
	margin-top: 10px;
}

.common-btn {
	width: 200px;
	max-width: 75%;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 12px;
	border-radius: 300px;
	color: #fff !important;
	font-size: 15px;
	margin: 50px auto 0;
}

.pink .common-btn {
	background-color: #ff86c6;
}

.common-btn.aqua {
	background-color: #3AB1B6;
}

.status-wrap .top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 20px;
}

.status-wrap .top:after {
	display: none;
}

.statusBar {
	height: 7px;
	width: 100%;
	background-color: #F4F5F9;
	border-radius: 300px;
	overflow: hidden;
	position: relative;
}

.statusBar span {
	background-color: #64D5D9;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: .3s;
}

.pink .statusBar {
	background-color: #fff;
}

.pink .statusBar span {
	background-color: #e7007a;
}

.qBox {
	font-size: 20px;
	line-height: 1.5;
	max-width: 80%;
	margin: 0 auto 30px;
	text-align: center;
}

.aBox button:not(:first-child) {
	margin-top: 30px;
}

.aBox button {
	text-align: center;
	padding: 20px 10px;
	color: #fff;
	border-radius: 4px;
	width: 100%;
	;
	font-size: 16px;
}

.aBox.aqua button {
	background-color: #198589
}

.pink .aBox button {
	background-color: #e7007a;
}

.result-wrap {
	line-height: 1.5;
	text-align: center;
}

.result-wrap .img {
	max-width: 100%;
	margin-bottom: 40px;
}

.result-wrap .img img {
	max-width: 100%;
	width: auto;
	margin: 0 auto;
}

.result-wrap .resultTitle,
.result-wrap .resultDesc {
	max-width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.result-wrap .resultTitle {
	font-size: 28px;
}

.result-wrap .resultDesc {
	font-size: 18px;
	margin-top: 20px;
}

.result-wrap .resultDesc li:not(:first-child) {
	margin-top: 40px;
}

.share-wrap {
	margin-top: 100px;
	text-align: center;
}

.share-wrap h3 {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 50px;
}

.share-wrap h3 b {
	font-weight: bold;
	color: #ff7b11;
}

.share-btn {
	background-color: transparent;
}

.share-btn .ico {
	width: 80px;
	height: 80px;
	background-color: #ffe812;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 auto 20px;
	border-radius: 100%;
	font-size: 50px;
}

.share-btn span {
	font-size: 16px;
	font-weight: bold;
}